<div *ngIf="recipe" class="recipe">

  <h1>Featured Recipe</h1>
  <div class="">
    <!-- <img src="{{recipe.image}}" alt="" /> -->
    <img src="../../../assets/images/foodimage.jpg"/>
  </div>
  
  <h2>{{recipe.name}}</h2>
  <h4>Description</h4>
  <hr>
  <div>{{recipe.description }}</div>
  <h4>Ingredients</h4>
  <hr>
  <ul>
  <li *ngFor="let ing of recipe.ingredients">
      {{ing.name}} {{ing.amount}} {{ing.unit}}
  </li>
  </ul>

  <h4>Steps</h4>
  <hr>
  <ul>
  <li *ngFor="let step of recipe.steps">
      {{step.description}} 
  </li>
  </ul>

  <h4>Notes</h4>
  <hr>
  <p>{{recipe.notes}}</p>

</div>