.recipe {
    margin: 20px auto;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;

    h1, h2 {
        font-family: 'Lobster', cursive;
        font-size: 35px;
        color: #8BC34A;
    }

    h2 {
        font-size: 20px;
    }


}