body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
    width: 800px;
    margin: 0 auto;

    .logo {
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        .eat {
            font-family: 'Lobster', cursive;
        }
    }
    
}

